<div id="listings" class="wrap">
  <div class="colLeft">
    <h2>Latest Shirs</h2>
    <% @shirs.find(:all, :order =>'created_at desc').each do |shir| %>
      <div class="shirEntry">
        <ul>
          <li>
      			<%= image_tag shir.photo(:thumb), :alt =>"#{shir.title}", :id => "profilePic" %>
      			<div class="shirEntryDesc">
      			<p class="small">For 20 kuai, <%=link_to shir.user.username, "/#{shir.user.username.downcase}", :class =>"capitalize" %> will..</p>
      			<h4><%=link_to shir.title,shirs_user_path(shir.user, shir)%></h4>
      			</div> <!-- shirEntryDesc -->
      			<div class="clear"></div>
      		</li>
      	</ul> 
    	</div> <!-- shirEntry -->
    <%end%>
  </div> <!-- colLeft -->
  
  <div class="colMiddle">
    <div id="colMiddleUl">
		  <% Category.all.each do |c| %>
		  <%= link_to c.title, c %>
			<% end %>
		</div> <!-- categories -->
  </div> <!-- colMiddle -->
  
  <div class="colRight">
  </div> <!-- colRight -->
  
  <div class="clear"></div>
</div> <!-- wrap -->