

<div id="shir" class="wrap">
	<div class="colLeft">
		<%=render 'shirs/show/left'%>
	</div> <!-- colLeft -->

	<div class="colMiddle">
		<%=render 'shirs/show/middle'%>
	</div> <!-- colMiddle -->

	<div class="colRight">
		<%=render 'shirs/show/right'%>
	</div> <!-- colRight -->

	<div class="clear"></div>
</div> <!-- wrap -->

<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'b82ba7ef-2c97-481b-b8cb-3977c069518d'});</script>
