<% unless user_signed_in?%>
  <li>
   <%= link_to('Log In', new_user_session_path)  %>  
   </li>
   <li>
     <%= link_to 'Join', new_user_registration_path, :class => "signUp" %>
     </li>
  <%end%>
  
  