<div class="wrap default">

  <div class="colLeft">
    Message sent
  </div> <!-- colLeft -->
  
  <div class="colMiddle">
  </div> <!-- colMiddle -->
  
  <div class="colRight">
  </div> <!-- colRight -->
  
  <div class="clear"></div>
  
</div> <!-- wrap -->