<%title "#{@user.username.capitalize}"%>
<div id="user" class="wrap">
	<div class="colLeft">
		<%=render 'left'%>
		<!-- profileDetails -->
	</div> <!-- colLeft -->

	<div class="colMiddle"> 
		<%=render 'middle'%>
	</div> <!-- colMiddle -->

	<div class="colRight">
		<%=render 'right'%>
	</div> <!-- colRight -->

	<div class="clear"></div>
</div> <!-- wrap -->