<h2>Featured Shir</h2>

<div class="homeShir">
	<%= image_tag("test/featuredImg1.jpg", :alt => "title of shir") %>
	<div class="desc">
		<p class="small">For 20 kuai, <a href="user.html">Santa Claus</a> will..</p>
		<h4><a href="shir.html">Wipe your ass for you</a></h4>
		<p class="shortDesc">i am trying to limit the title to just a few characters maybe a bit more here cool</p>
	</div> <!-- desc -->
</div> <!-- homeShir -->

<div class="homeShir"> 
	<%= image_tag("test/featuredImg1.jpg", :alt => "title of shir") %>
	<div class="desc">
		<p class="small">For 20 kuai, <a href="">Santa Claus</a> will..</p>
		<h4><a href="">i am trying to limit the title to just a few characters maybe a bit more here cool</a></h4>
		<p class="shortDesc">For a one time fee only, Santa has offered to wipe your ass for the 5 days leading up to Christmas.</p>
	</div> <!-- desc -->
</div> <!-- homeShir -->

<div class="homeShir"> 
	<%= image_tag("test/featuredImg1.jpg", :alt => "title of shir") %>
	<div class="desc">
		<p class="small">For 20 kuai, <a href="">Santa Claus</a> will..</p>
		<h4><a href="">i am trying to limit the title to just a few characters maybe a bit more here cool</a></h4>
		<p class="shortDesc">For a one time fee only, Santa has offered to wipe your ass for the 5 days leading up to Christmas.</p>
	</div> <!-- desc -->
</div> <!-- homeShir -->
