<h2>Featured Shir</h2>
<%@featured_shir.each do |f|%>
<div class="homeShir">
	<%= image_tag("test/featuredImg1.jpg", :alt => "title of shir") %>
	<div class="desc">
		<p class="small">For 20 kuai, <%=link_to f.user.username, username_path(f.user.username.downcase)%> will..</p>
		<h4><%=link_to f.title, f%></h4>
		<p class="shortDesc"><%=clean_split f.description, 100%></p>
	</div> <!-- desc -->
</div> <!-- homeShir -->
<%end%>
