<div class="homeCatUl">
	<% @categories.each do |c| %>
	<%= link_to c.title.capitalize, c %>
	<% end %>
</div> <!-- categories -->

<div id="homeFeaturedOrgs">
	<h2>Featured Sellers</h2>

	<div class="homeFeaturedOrg"></div>
	<div class="homeFeaturedOrg"></div>
	<div class="homeFeaturedOrg"></div>
	<div class="homeFeaturedOrg"></div>

</div> <!-- homeFeaturedOrgs -->

<div class="clear"></div>