<div class="homeCatUl">
	<% @categories.each do |c| %>
	<%= link_to c.title.capitalize, c %>
	<% end %>
</div> <!-- categories -->

<div id="homeFeaturedOrgs">
	<h2>Featured Sellers</h2>
	
	<%@featured_user.each do |u|%>
  
	  <div title="<%= u.username %>" class="homeFeaturedOrg"><%=link_to image_tag(u.photo.url(:thumb)), u%></div>
  
  <% end %>
  
</div> <!-- homeFeaturedOrgs -->
