<%title "#{@users.count} Users #{@shirs_all.count} Shirs"%>
<div class="wrap">
	<div id="homeFeatured" class="homeCol">
		<%=render 'left'%>
	</div>
	<div id="homeCat" class="homeCol">

		<%=render 'middle'%>			
	</div> <!-- homeCat -->

	<div id="homeLatest" class="homeCol">
		<%=render 'right'%>	  
	</div>

	<div class="clear"></div>
</div> <!-- wrap -->