	<h1><%= @shir.title.capitalize %></h1>
		<%= image_tag @photo, :alt => @shir.title, :class=> "mainImg" %>
		<p><%= @shir.description.capitalize %></p>
		
		<h3>Instructions</h3>
		
		<p><%= @shir.instruction.capitalize %></p>