<p id="notice"><%= notice %></p>

<%unless @category.shirs.nil?%>
<%@category.shirs.each do |c|%>
<%=c.title%><br />
<%end%>
<%end%><br />

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
